<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Employee List</h1>
    {% for emp in data %}
       <p>  Name:  {{ emp.name }}</p>
       <p> Age:  {{ emp.age }}</p>
    <p>Salary:  {{ emp.salary }}</p>
    
    <!-- <a href="/update/{{emp.id}}/">Update</a> -->
    <a href="{% url 'update_employee' emp.id %}">Update</a>
    
    <a href="/delete/{{ emp.id }}/">Delete</a>
    {% endfor %}

    <h4>Add Employees Data <a href="/add/">Click Here</a></h4>
    
</body>
</html>