{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>msg</title>
    <link rel="stylesheet" href="{% static 'login_app/css/msg.css' %}">
</head>
<body>
    <h1>welcome to Message page</h1>


    <a href="/notification/"><button>Notifications</button></a>

    <a href="/profile/"><button>Profile</button></a>

    <a href="/login/"><button>Back To Login Page</button></a>
</body>
</html>