{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>profil</title>
    <link rel="stylesheet" href="{% static 'login_app/css/profile.css' %}">
  </head>
  <body>
    <h1>Welcome to Profile page</h1>
    <a href="/message/"><button>Messages</button></a>

    <a href="/notification/"><button>Notifacations</button></a>

    <a href="/login/"><button>Back To Login Page</button></a>
  </body>
</html>
